<footer class="rodape bg-primary my-4">
    <center>
      <div class="social-icons">
        <a href="@ossbss_ami_ucc" ><i class="fa fa-twitter fa-lg"></i></a>
        <a href="https://github.com/ami-solution/energysaver" target="_blank"><i class="fa fa-github fa-lg"></i></a>
      </div>
      <p>Energysaver | 2017 - UFOPA</p>
    </center>
</footer>